@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Suez+One&display=swap");
label {
  font-family: "Suez One";
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Raleway&display=swap");
p,
body {
  font-family: "Raleway";
  font-size: 20px;
}
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Lato:wght@700&display=swap");
span {
  font-family: "Lato";
  font-size: 20px;
  font-weight: 700;
  color: #000;
}

.Tab {
  background-image: url(../Images/Tab.png);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 30vh;
}
.main {
  max-width: 100%;
  width: 1580px !important;
}
.nav-link {
  background-color: #aa2522;
  padding-left: 70px !important;
  padding-right: 70px !important;
  margin: 1px;
  font-family: "Suez One";
  font-size: 17px;
  color: #000 !important;
}
.nav-link:hover {
  background: #91c9c6;
}
.new {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.new1 {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.bg {
  background-color: #6d9794;
}
.line {
  max-width: 100%;
  width: 2000px;
  background-color: black;
}
.gif {
  max-width: 100%;
  width: 377px !important;
  border: 2px solid;
  border-color: black;
}
.background {
  background-image: url(../Images/shadow.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.tran {
  text-decoration: underline;
  cursor: pointer;
}
.subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid;
  justify-content: center;
  background: white;
  max-width: 100%;
  padding: 15px !important;

  height: 280px;
  /* border-radius: 10px; */
  box-shadow: 0 4px 20px rgba(61, 159, 255, 0.2);
}

.subscribe__title {
  font-weight: bolder;
  font-size: 20px;
  margin-bottom: 18px;
}

.subscribe__copy {
  max-width: 450px;
  text-align: center;
  margin-bottom: 53px;
  line-height: 1.5;
}

.form {
  margin-bottom: 25px;
}

.form__email {
  padding: 20px 25px;
  /* border-radius: 5px; */
  border: 1px solid #cad3db;
  width: 431px;
  height: 50px;
  font-size: 18px;
  color: #0f121f;
}

.form__email:focus {
  outline: 2px solid #ff4040;
}

.form__button {
  background: #8b0000;
  padding: 10px;
  border: none;
  width: 100px;
  height: 55px;
  font-family: "Raleway";
  font-weight: 400;

  font-size: 18px;
  color: white;
}
.description {
  font-size: 14px;
}

.litt {
  font-size: 16px !important;
}
.text {
  font-size: 17px !important;
  text-decoration: underline;
}
.heading {
  font-size: 44px;
  font-weight: 700;
}
.main-timeline {
  position: relative;
}

.main-timeline:before {
  content: "";
  display: block;
  width: 2px;
  height: 100%;
  background: #c6c6c6;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.main-timeline .timeline {
  margin-bottom: 40px;
  position: relative;
}

.main-timeline .timeline:after {
  content: "";
  display: block;
  clear: both;
}

.main-timeline .icon {
  width: 18px;
  height: 18px;
  line-height: 18px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.main-timeline .icon:before,
.main-timeline .icon:after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.33s ease-out 0s;
}

.main-timeline .icon:before {
  background: #fff;
  border: 2px solid #232323;
  left: -3px;
}

.main-timeline .icon:after {
  border: 2px solid #c6c6c6;
  left: 3px;
}

.main-timeline .timeline:hover .icon:before {
  left: 3px;
}

.main-timeline .timeline:hover .icon:after {
  left: -3px;
}

.main-timeline .date-content {
  width: 50%;
  float: left;
  margin-top: 57px;
  position: relative;
}

.main-timeline .date-content:before {
  content: "";
  width: 36.5%;
  height: 2px;
  background: #c6c6c6;
  margin: auto 0;
  position: absolute;
  top: 0;
  right: 10px;
  bottom: 0;
}

.main-timeline .date-outer {
  width: 125px;
  height: 125px;
  font-size: 16px;
  text-align: center;
  margin: auto;
  z-index: 1;
}

.main-timeline .date-outer:before,
.main-timeline .date-outer:after {
  content: "";
  width: 125px;
  height: 125px;
  margin: 0 auto;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.33s ease-out 0s;
}

.main-timeline .date-outer:before {
  background: transparent;
  border: 2px solid #aa2522;
  left: -6px;
}

.main-timeline .date-outer:after {
  border: 2px solid #91c9c6;
  left: 6px;
}

.main-timeline .timeline:hover .date-outer:before {
  left: 6px;
}

.main-timeline .timeline:hover .date-outer:after {
  left: -6px;
}

.main-timeline .date {
  width: 100%;
  margin: auto;
  position: absolute;
  top: 7%;
  left: 0;
}

.main-timeline .month {
  font-size: 18px;
  font-weight: 700;
}

.main-timeline .year {
  display: block;
  font-size: 30px;
  font-weight: 700;
  color: #232323;
  line-height: 36px;
}

.main-timeline .timeline-content {
  width: 50%;
  padding: 20px 0 20px 50px;
  float: right;
}

.main-timeline .title {
  font-size: 20px;
  font-family: "Suez One";
  font-weight: 700;
  line-height: 24px;
  margin: 0 0 15px 0;
}

.main-timeline .description {
  margin-bottom: 0;
}

.main-timeline .timeline:nth-child(2n) .date-content {
  float: right;
}

.main-timeline .timeline:nth-child(2n) .date-content:before {
  left: 10px;
}

.main-timeline .timeline:nth-child(2n) .timeline-content {
  padding: 20px 50px 20px 0;
  text-align: right;
}

@media only screen and (max-width: 991px) {
  .main-timeline .date-content {
    margin-top: 35px;
  }
  .main-timeline .date-content:before {
    width: 22.5%;
  }
  .main-timeline .timeline-content {
    padding: 10px 0 10px 30px;
  }
  .main-timeline .title {
    font-size: 17px;
  }
  .main-timeline .timeline:nth-child(2n) .timeline-content {
    padding: 10px 30px 10px 0;
  }
}

@media only screen and (max-width: 767px) {
  .main-timeline:before {
    margin: 0;
    left: 7px;
  }
  .main-timeline .timeline {
    margin-bottom: 20px;
  }
  .main-timeline .timeline:last-child {
    margin-bottom: 0;
  }
  .main-timeline .icon {
    margin: auto 0;
  }
  .main-timeline .date-content {
    width: 95%;
    float: right;
    margin-top: 0;
  }
  .main-timeline .date-content:before {
    display: none;
  }
  .main-timeline .date-outer {
    width: 110px;
    height: 110px;
  }
  .main-timeline .date-outer:before,
  .main-timeline .date-outer:after {
    width: 110px;
    height: 110px;
  }
  .main-timeline .date {
    top: 30%;
  }
  .main-timeline .year {
    font-size: 24px;
  }
  .main-timeline .timeline-content,
  .main-timeline .timeline:nth-child(2n) .timeline-content {
    width: 95%;
    text-align: center;
    padding: 10px 0;
  }
  .main-timeline .title {
    margin-bottom: 10px;
  }
}
.txt {
  font-size: 24px;
}
.head {
  font-size: 28px !important;
}

.foot {
  max-width: 100%;
  width: 80px !important;
}
.iconn {
  max-width: 100%;
  width: 100px !important;
  margin-top: 5px;
}
.iconn1 {
  max-width: 100%;
  width: 70px !important;
  /* margin-top: 5px; */
}
.iconn2 {
  max-width: 100%;
  width: 130px !important;
  margin-top: 15px;
}
.iconn3 {
  max-width: 100%;
  width: 110px !important;
  margin-top: 25px;
}
.style {
  font-weight: bolder;
  color: #e21c21;
  font-size: 16px;
}
@media only screen and (max-width: 600px) {
  .iconn {
    max-width: 100%;
    width: 80px !important;
    margin-top: -15px;
  }
}
@media only screen and (max-width: 600px) {
  .iconn1 {
    max-width: 100%;
    width: 55px !important;
    margin-top: -15px;
  }
}
@media only screen and (max-width: 600px) {
  .iconn2 {
    max-width: 100%;
    width: 100px !important;
    margin-top: -10px;
  }
}
@media only screen and (max-width: 600px) {
  .iconn3 {
    max-width: 100%;
    width: 100px !important;
    margin-top: -3px;
  }
}
.btn {
  background-color: #6d9794;
  box-shadow: 3.54px 3.54px 6px 0 #243231;
  font-size: 18px;
  color: white;
  padding: 10px;
  cursor: pointer;
}
.btn:hover {
  background-color: #86bebb;
  transition: 0.2s;
  border: 1px solid;
  border-color: #000;
}
.connect {
  max-width: 100%;
}
.gapp {
  padding-top: 100px;
}
video {
  max-width: 100%;
}
.glossary {
  max-width: 100%;
  width: 700px !important;
}
.list {
  line-height: 60px;
}
.faq {
  max-width: 100%;
  width: 350px !important;
}
.fees {
  text-decoration: underline;
}
.meta {
  color: red;
  text-decoration: underline;
}
.team {
  max-width: 100%;
  width: 270px !important;
}

.card {
  padding: 30px 40px;
  margin-top: 60px;
  margin-bottom: 60px;
  border: none !important;
  /* box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2); */
  background-color: transparent;
}
.blue-text {
  color: #00bcd4;
}
.form-control-label {
  margin-bottom: 0;
}
input,
textarea,
button {
  padding: 8px 15px;
  /* border-radius: 5px !important; */
  margin: 5px 0px;
  box-sizing: border-box;
  border: 2px solid black;
  font-size: 18px !important;
  font-weight: 300;
}
input:focus,
textarea:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 1px solid #00bcd4;
  outline-width: 0;
  font-weight: 400;
}
.btn-block {
    background: #496563;
    border-color: #496563;
  text-transform: uppercase;
  font-size: 15px !important;
  font-weight: 400;
  font-family: 'Suez One';
  letter-spacing: 4px;
  height: 43px;
  width: 170px;
  cursor: pointer;
}
.btn-block:hover {
  background-color: #496563 !important;
  border-color: #496563;
}
button:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  outline-width: 0;
}
@media only screen and (max-width: 600px) {
    .Tab{
        min-height: 0vh;
    }
  }
  @media only screen and (max-width: 600px) {
    .subscribe__copy{
       font-size: 12px;
    }
  }
  @media only screen and (max-width: 600px) {
    .subscribe__title{
       font-size: 14px;
       padding-top: 20px;
    }
  }
  @media only screen and (max-width: 600px) {
    .form__email{
    width: 250px !important;
    padding: 0px !important;
   }
  }
  @media only screen and (max-width: 600px) {
    .form__button{
        height: 50px;
    }
  }

a{
  text-decoration: none !important;
}